/// this is a line comment.
/// all content after '///' will be ignored.
{
  "mcpServers": {
  /* for mcpservers "url" or "command" is a required field.
   "url" is a string that represents the URL of the Romote MCP server.
   "command" is a string that represents the command to run the Local MCP server.
   */
   /*
    "MyMCPServer": {
      "url": "http://localhost:8080/sse"
    },
    "semgrep": {
      "url": "https://mcp.semgrep.ai/sse"
    },*/
      "filesystem": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-filesystem",
        "${SHARE_DIR1}",
        "${SHARE_DIR2}"
      ]
    },
    "brave-search": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-brave-search"
      ],
      "env": {
        "BRAVE_API_KEY": "${BRAVE_API_KEY}"
      }
    },
    "github": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-github"
      ],
      "env": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "${GITHUB_PERSONAL_ACCESS_TOKEN}"
      }
    },
    "git": {
        "command": "uvx",
        "args": [
            "mcp-server-git"
            ]
    },
    "mcp-puppeteer": {
        "command": "npx",
        "args": [
            "-y",
            "@modelcontextprotocol/server-puppeteer"
            ],
        "env": {
            "PUPPETEER_LAUNCH_OPTIONS": "{\"headless\": false, \"executablePath\": \"C:/Program Files/Google/Chrome/Application/chrome.exe\", \"args\": []}",
            "ALLOW_DANGEROUS": "true"
        }
    }
  }
}